footer.footer
  div.container
    div.content.has-text-centered.
      <p>
        Made by <a href="http://crystal.to">Crystal To</a> and <a href="http://kaylaisomura.com/">Kayla Isomura</a> for the <a href="https://www.bcadoption.com/">Adoptive Families Association of BC</a> .
      </p>