extends layout

block content
  section.section
    div.container
      h1.title.is-1 Christmas Tree Generator
  section.section
    div.container
      div.content.
        Pick a .csv file to upload, then click <strong>Generate</strong> to get your custom HTML! Click <a href="/assets/donor_data_template.csv" download="donor_data">here</a> to download a template file if you don't have one already.
      form(method='POST' action='/generate' enctype='multipart/form-data')
        p.control
          label.label Donor Data File
          input(name='donorData' type='file' accept='.csv' required)
        p.control
          label.label Bauble Size
          input(name='baubleSize' type='number' min='5' max='50' value='30')
          span(style="margin-left: 5px") px
        p.control.margin-top-lg
          button.button.is-primary(type='submit') Generate!
          a.button.is-link(href="mailto:crystal.kyto@gmail.com") Help
