extends layout

block content
  section.section
    div.container
      h1.title.is-1 Result
      a(href='/')= "<< Back"
  if donors
    section.section
      div.container
        h3.title.is-3 Here's your generated HTML:
        textarea#target.textarea(readonly)
        div.level.margin-top
          div.level-left
            div.level-item
              button#copyToClipboard.button.is-primary(
                type='button'
                data-clipboard-target='#target'
              ) Copy to clipboard
            div.level-item
              span#tooltip.help.is-success(style='display:none') Copied!
          div.level-right
    section.section
      div.container
        h3.title.is-3 Preview:
        h6.subtitle.is-6 (refresh the page to generate a new tree)
        div.box.control.is-loading
          iframe#iframe
        div#source(style='display:none')
          include tree/base
    script(src='/javascripts/result.js')

  else
    p Something's wrong...
    a(href='/') Go home