style.
  /* swing effect modified from https://github.com/daneden/animate.css */
  @-webkit-keyframes swing {
    from {
      -webkit-transform: rotate3d(0, 0, 1, 10deg);
      transform: rotate3d(0, 0, 1, 10deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 1, 10deg);
      transform: rotate3d(0, 0, 1, 10deg);
    }
  }

  @keyframes swing {
    from {
      -webkit-transform: rotate3d(0, 0, 1, 10deg);
      transform: rotate3d(0, 0, 1, 10deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 1, 10deg);
      transform: rotate3d(0, 0, 1, 10deg);
    }
  }

  .swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
  }

  /* Snow effect from https://codepen.io/NickyCDK/pen/AIonk */
  .snow-background {
    background-color:#91B2CD;
  }
  #snow{
    background: none;
    background-image: url('https://s3-us-west-2.amazonaws.com/afa-tree-generator/s3.png');
    height: 1139px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
    /**
     * Hack from http://stackoverflow.com/questions/13176746/css-keyframe-animation-cpu-usage-is-high-should-it-be-this-way
     * To use GPU instead of CPU for animations
    */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
  }
  @keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
  }
  @-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }